* {
  box-sizing: border-box;
  border: 0;
  padding: 0;
  margin: 0;
}
body {
  font-family: Arial, sans-serif;
  background-color: #978ff3;
  text-align: center;
}

header,
main,
footer {
  padding: 20px;
}

header {
  text-align: left;
}

.aGoBack{
  position: fixed;
}

.details-container {
  max-width: 800px;
  margin: auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
}

.details-container img {
  width: 200px;
  height: 200px;
}

.details-container h2 {
  text-transform: capitalize;
}

.id-text {
  color: #616161;
  margin-left: 10px; /* Adiciona um espaço entre o nome e o ID */
  font-size: 0.8em; /* Ajusta o tamanho da fonte */
}

.infoPrincipal {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.infoSegundaria {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: 55px 45px;
  justify-content: center;
  align-content: center;
  height: 70%;
  border: 1px solid rgb(0 0 0 / 50%);
  border-radius: 10px;
  background-color: #c0c0c0;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.pInfoSegudaria {
  text-align: left;
  padding-left: 21px;
}
.pokemon-div-type {
  margin: 3px;
  text-align: center;
  width: 32%;
  padding: 5px;
  border-radius: 5px;
}

.divType {
  display: flex;
}

.div-evolution {
  display: grid;
  justify-content: center;
  align-content: center;
}

.single {
  display: block; /* Se houver apenas um elemento, exibe como bloco */
}

.two {
  grid-template-columns: repeat(2, 1fr);
}

.three {
  grid-template-columns: repeat(3, 1fr);
}

.div-evolution img {
  width: 150px;
  height: 150px;
}

.div-evolution p {
  text-align: center;
}

.details-container table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
}

.details-container th,
.details-container td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

.details-container th {
  background-color: #f2f2f2;
}

.details-container .stat {
  display: grid;
  grid-template-columns: 120px 1fr 60px;
  justify-content: space-between;
  align-items: center;
}

.stat-name {
  text-align: left;
}

.details-container .stat-bar {
  width: 100%;
  height: 10px;
  background-color: #ddd;
  margin-left: 10px;
  border-radius: 5px;
}

.details-container .stat-bar span {
  display: block;
  height: 100%;
  background-color: #4caf50;
  border-radius: 5px;
}

footer {
  background-color: #333;
  color: white;
  padding: 20px 0;
  text-align: center;
}

.footer-content a {
  color: #fff;
  text-decoration: none;
}

.footer-content a:hover {
  text-decoration: underline;
}

#loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #fff;
}

.To-go-Back {
  cursor: pointer;
  margin: 10px;
  background: none;
}

.table-container {
  width: 100%;
  overflow-x: auto;
}

table {
  width: 100%;
  min-width: 450px; /* Largura mínima da tabela para habilitar a rolagem horizontal */
  border-collapse: collapse;
}


@media (max-width: 510px) {

  .infoPrincipal {
    grid-template-columns: repeat(1, 1fr);
  }

  .infoSegundaria {
    
    height: 100%;
    padding-bottom: 20px;
  
  }

  .div-evolution img {
    width: 100px;
    height: 100px;
}

}
