<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="../wwwroot/img/favicon.png" type="image/x-icon">
    <title>Pokédex</title>
    <link rel="stylesheet" href="../wwwroot/detail.css" />
  </head>
  <body>
    <header id="header-pokedex">
      <a href="index.html">
        <button class="To-go-Back">
          <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-arrow-left-circle" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8m15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0m-4.5-.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5z"/>
          </svg>
        </button>
      </a>
    </header>
    <main id="show-pokedex">
      <div id="pokemonDetails" class="details-container" style="display: none;"></div>
      <div id="loading">
        <p>Loading...</p>
      </div>
    </main>
    <footer>
      <div class="footer-content">
        <p>&copy; 2024 Pokédex by Pedro Ramos. All rights reserved.</p>
        <p>Data provided by <a href="https://pokeapi.co/" target="_blank">PokeAPI</a></p>
      </div>
    </footer>

    <script src="../wwwroot/evolutions.js"></script>
    <script src="../wwwroot/fetchDetails.js"></script>
    <script src="../wwwroot/displayDetails.js"></script>
  </body>
</html>
